# Web Framework
Flask==3.0.3
Werkzeug==3.0.3
gunicorn==22.0.0

# Data Processing
numpy==1.26.4
pandas==2.2.2

# Machine Learning
scikit-learn==1.5.1
joblib==1.4.2

# Visualization
matplotlib==3.9.1
seaborn==0.13.2

# Environment Variables
python-dotenv==1.0.1

# Build Dependencies
setuptools>=70.0.0
wheel>=0.43.0